*{
	margin:0 ;
	padding:0;
	box-sizing:border-box;
	}

.menu{
height:60px;
 width:100%;
 background-color: #E5DDDB;
 position:sticky;
 top:0;
 z-index:1;
 text-align:center;
}

.menu > ul > li{
	display:inline-block;
	list-style:none;
	margin:20px 20px 20px 20px;
}

.menu ul li a{
	text-decoration:none;
	font-family: 'Poppins'; 
	font-size:18px;
    color:black;
	padding :8px 10px 8px 10px;
}

body{
	background-color:#F2F6F6;
}

.myslider
{
	width:55% !important;
	position:relative;
	 top:90px !important ;
	 left:550px;
}

.imgclass
{
	height:550px;
}

.menu a:hover{
	color:white;
	background-color:#81D1D8 ;
	border-radius:20px !important;
	
}


.secenekler{
	background-color:#E5DDDB;
	width:20%;
	height:550px;
	position:relative;
	bottom:480px;
	left:110px;
	padding-top:40px;
	padding-left:15px;
	
}

.secenekler>ul>li{
	padding-top:19px;
	padding-bottom:19px;
}

.sec2>li{
	padding-top:9px;
	padding-bottom:9px;
}

.secenekler>ul>li>a{
	text-decoration:none;
	font-family: 'Poppins'; 
	font-size:18px;
    color:black;
	padding:8px 10px 8px 10px;
	}

.sec2>li>a{
	text-decoration:none;
	font-family: 'Poppins'; 
	font-size:18px;
    color:black;
}

.ist{
	
	height:400px;
	width:50% !important;
	position:relative;
	left:300px;
	bottom:350px;
	
}

.gez{
	position:relative;
	left:80px;
}

.gezimg{
	height:300px;
	width:450px;

}

#gezimg{
	position:relative;
	left:30px;
}


footer{
  position:fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#E2E7EC ;
  color: black;
  text-align: center;
	
}
